body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #efefec;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #cce609;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 /* Nav */

 .header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #dbab4a;
  padding: 40px 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  
}

  
.header:hover {
  background-color: #b0d551;
  color: #211e1e;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 10px;
}

nav a {
  color: #110e0e;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin-left: 2.5rem;
  font-variant: small-caps;
  transition: color 0.3s ease;
}

nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

nav a:hover {
  color: rgb(4, 85, 26);
}

nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #470707;
  margin: 5px auto;
  transition: transform 0.3s ease;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-image: url('background.jpg');
    background-size: cover;
}

.fade-container {
    overflow: hidden;
  }
  
  #fade-text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 58px;
    animation: fadeInOut 6s ease-in-out infinite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #efe6e6;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .card {
    width: calc(100% - 30px);
    max-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 15px;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-header {
    background-color: #e3175f;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 16px;
  }
  
  .card-button {
    display: block;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .card-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section {
    position: relative;
    padding: 20px;
  }
  
  .about-container {
    padding: 20px;
    border: 1px solid #e5097f;
    border-radius: 8px;
    background-color: #b04f98;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-container h2 {
    position: center;
    left: 0;
    margin-bottom: 20px;
    font-size: 4rem;
  }
  
  .about-container p {
    font-size: xx-large;
    padding-left: 120px;
    line-height: 1.6;
  }
  
  @media screen and (min-width: 600px) {
    .card-container {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33.33% - 30px);
      max-width: 250px;
      height: auto;
    }

    .card-button {
      padding: 1px;
    }
  }  

  /* Teams */

  .slideshow-container {
    position: relative;
    max-width: 600%;
    margin: auto;
    z-index: 100; 
}

.slide {
  display: none;
  text-align: center;
}
/* Slide 1: Faculty Members */
.slide1 .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
  max-width: 200%;
  margin-top: 50px ;
}

.slide1 .card {
  width: 160px;
  height: 250px;
  background-color: transparent;
  border-color: #eee6e6;
  border-radius: 7px;
  overflow: hidden;
  margin: 5px;
  position: relative;
}

.slide1 .card img {
  width: 75%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.slide1 .card-details {
  padding: 20px;
  color: white;
}

.slide1 .card-name {
  font-size: 15px;
  font-weight: bold;
}

.slide1 .card-designation {
  font-size: 13px;
}
/* Navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.prev {
  left: 10px;
  margin-top: 3500px;
}

.next {
    right: 10px;
    margin-top: 3500px;
}


  /* FAQ */

  .faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 15px;
}

.question {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.answer {
    font-size: 16px;
    margin-top: 10px;
    display: none;
}

.arrow {
  transition: transform 0.3s ease;
  padding-right: 3px;
}

/* Media Query for Mobile Screens */

@media (max-width: 768px) {
  .header {
    padding: 30px 10px;
  }
  
  .hamburger-menu {
    display: block;
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  nav.open {
    display: flex;
  }
  
  nav a {
    margin: 10px 0;
    margin-left: 0;
  }
  
  nav a::before {
    display: none;
  }
  
  .im1,
  .im2 {
    margin: 0 auto;
  }
}

.im1 {
  height: 80px;
  width: 160px;
  top: 10px;
  left: 20px;
  position: absolute;
}


footer {
  background-color: #b471a2;
  color: #e3dbdb;
  font-weight: 500;
  text-align: center;
  padding: 6px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
    position: fixed;
    bottom: 0;
    width: 100%;
     /* Adjust the background color as needed * /* Adjust the text color as needed */
    padding: 5px; /* Adjust the padding as needed */
    z-index: 999; /* Ensure a high z-index value */
  }
  

footer:hover {
  background-color: #e0e0e0;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}
footer img {
    width: 50px; /* Adjust the width as needed */
    height: 40px; /* Maintain aspect ratio */
    margin: 0 5px; /* Adjust margin as needed */
  }
  


.sponsor-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px;
}

.sponsor-card {
  width: 400px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px; 
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sponsor-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .sponsor-card {
    width: calc(100% - 20px);
    height: 100px;
    margin: 5px 10px;
    margin-left: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  #sponsor-txt {
    font-size: 28px;
    
  }
}

@media (max-width: 768px) {
  .slide {
      text-align: center; 
  }

  .slide h1 {
      margin-right: 0; 
  }

  .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 100%; 
      max-width: 300px; 
      margin-bottom: 20px; 
  }

  .prev,
  .next {
      display: none; 
  }
}

@media (max-width: 768px) {
  .prev,
  .next {
      display: none;
  }
}


.slide0 {
  display: block; 
  
}

.crew-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.crew-heading h1 {
  font-size: 50px; 
  padding: 20px; 
  border: 15px solid rgb(218, 204, 204); 
  border-radius: 200px; 
}

#reg-txt {
  color: #fff;
  font-size: 32px;
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3150px;
}

@media (max-width: 768px) {
  #reg-txt {
    position: absolute;
    top: 3150px;
    left:380px;
  }
}

#offline-message {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0ecec;
  color: #470707;
  text-align: center;
  padding: 10px 0;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#online-message {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #008000;
  color: #470707;
  text-align: center;
  padding: 10px 0;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1e1e1e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.section h2 {
  transition: opacity 2s ease;
  opacity: 0;
}

.section:hover h2 {
  opacity: 1;
}

.section p {
  z-index: 1;
}

.fade-container {
  z-index: 1;
}

.slideshow-container {
  text-align: center;
}

.single-photo {
  display: none; 
}


.slideshow-container {
  text-align: center;
}

.single-photo {
  display: none; 
}


@media (max-width: 768px) {
  .slideshow-container {
    display: none; 
  }

  .single-photo {
    display: block; 
    text-align: center;
  }
}


/* General */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.card {
  width: calc(50% - 30px);
  max-width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 15px;
  height: 200%;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #2c7822;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.card-button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  color: black;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 30px);
  }
}
/* Basic navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -5px 10px;
    background-color: #333;
    color: white;
  }
  
  /* Left and right sections of the navbar */
  .nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .nav-left a:hover, .nav-right a:hover {
    text-decoration: underline;
  }
  .nav-right {
    margin-left: auto; /* Move the .nav-right to the rightmost position */
}

.nav-right .icon-link {
    margin-left: 70px;
 /* Adjust the margin to move the wallet icon further right */
}

  
  /* Icon link styling */
  .icon-link {
    font-size: 1.5rem;
    margin-right: -500px;
  }
  
  /* Login button styling */
  .login-button {
    background-color: rgb(185, 72, 15);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 150px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: rgb(202, 81, 37);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    
    .nav-left, .nav-right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .nav-left a, .nav-right a, .login-button {
      margin-bottom: 10px;
    }
  }
  .logo {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 190px;
  }
 

.fade-container {
    text-align: center;
    color: white;
    z-index: 100; /* Ensure text appears on top of the animation */
}

.animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2; /* Ensure animation appears behind text */
}

.animation-container img {
    width: 180%;
    height: 80%;
    max-width: 800px; /* Adjust maximum width as needed */
    margin-right: 500px;
    margin-top: 230px;
    opacity: 0.5;
}
